@import "mixin";

/**
 * 通用样式
 */
$font-F1: 36px;
$font-F2: 34px;
$font-F3: 30px;
$font-F4: 28px;
$font-F5: 26px;
$font-F6: 24px;
$font-F7: 22px;
$color-C1: #282828;
$color-C2: #bbbbbb;
$color-C3: #e6e6e6;
$color-C4: #737373;
$color-C5: #a8a8a8;
$color-C6: #f56d9d;

#cnzz_stat_icon_1260955674 {
    display: none;
}

.line-index {
    width: 100%;
    @include px2rem(height, 20px);
    background-color: #f5f5f5;
    border-top: 1px solid $color-C3;
}

/**
 * 主体结构
 */
.wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.content {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    background-color: #ffffff;
    @include css3(overflow-scrolling, touch);
    @include css3(user-select, none);
}
.index-gray {
    background-color: #f5f5f5;
}

/**
 * 首页-现场实景
 */
.index-nav {
    width: 100%;
    @include px2rem(height, 90px);
    overflow: hidden;
    background-color: #ffffff;
    font-size: 0; // 解决inline-block空格间隙
    -webkit-text-size-adjust:none; // 兼容chrome浏览器最小字体限制
}
.index-nav a {
    float: left;
    @include px2rem(width, 250px);
    @include px2rem(height, 30px);
    @include px2rem(line-height, 30px);
    padding:0.4rem 0;
    text-align: center;
    display: block;
    @include px2rem(font-size, $font-F4);
    color: $color-C1;
    position: relative;
}
.index-nav a span {
    display: none;
    position: absolute;
    @include px2rem(left, 121px);
    @include px2rem(bottom, 15px);
    @include px2rem(width, 8px);
    @include px2rem(height, 8px);
    @include css3(border-radius, 4px);
    background-color: $color-C6;
}
.index-nav a:hover {
    text-decoration: none;
}
.index-nav a.active {
    color: $color-C6;
}
.index-nav a.active span {
    display: block;
}
.index-tab {
    background-color: #ffffff;
    display: none;
}
.index-720 {
    @include px2rem(width, 750px);
    @include px2rem(height, 750px);
    overflow:hidden;
    // background-image: url(../img/1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.index-720-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    @include px2rem(height, 225px);
    background:-webkit-linear-gradient(bottom, rgba(0,0,0,0.8), rgba(0,0,0,0)); 
}
.index-720-name {
    position: absolute;
    width: 6rem;
    @include ell(1);
    @include px2rem(bottom, 40px);
    @include px2rem(left, 40px);
    color: #ffffff;
    @include px2rem(font-size, $font-F2);
}
.index-720-btn {
    display: none;
    @include px2rem(width, 186px);
    @include px2rem(height, 58px);
    background-image: url(../img/work_details_720_play_ico@3x.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    position: absolute;
    bottom: 0.42rem;
    right: 0.52rem;
}
.index-720-btn span {
    position: absolute;
    top: 0.16rem;
    left: 0.35rem;
    display: block;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
    @include px2rem(border-width, 15px);
    cursor: pointer;
    border-style: dashed dashed dashed solid;
    border-color: transparent transparent transparent #ffffff;
    border-right: none;
}
.index-basicInfo {
    width: auto;
    margin: 0 0.53333rem;
    overflow:hidden;
}
.index-basicInfo-title {
    width: 100%;
    @include px2rem(height, 30px);
    @include px2rem(line-height, 30px);
    padding: 0.4rem 0;
    @include px2rem(font-size, $font-F4);
    color: $color-C1;
    border-bottom: 1px solid $color-C3;
}
.index-basicInfo-info {
    padding: 0.4rem 0;
    width: 100%;
    height: auto;
    @include px2rem(font-size, $font-F5);
    color: $color-C4;
}
.index-module-title {
    width: auto;
    margin: 0 0.53333rem;
    @include px2rem(height, 30px);
    @include px2rem(line-height, 30px);
    padding: 0.4rem 0;
    @include px2rem(font-size, $font-F4);
    color: $color-C1;
    position: relative;
}
.index-module-title-arrow {
   @include px2rem(width, 15px);
   @include px2rem(height, 30px);
   position: absolute;
   @include px2rem(top, 30px);
   right: 0;
   background-image: url(../img/work_details_more_ico@3x.png);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}
.index-module-pic {
   display: block;
   @include px2rem(width, 750px);
   @include px2rem(height, 500px);
   overflow: hidden;
   // background-image: url(../img/1.jpg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}
.index-similar {
    width: auto;
    margin: 0 0.4rem;
    height: auto;
}
.index-similar-title {
    width: 100%;
    @include px2rem(height, 30px);
    @include px2rem(line-height, 30px);
    padding: 0.4rem 0;
    @include px2rem(font-size, $font-F4);
    color: $color-C1;
}
.index-similar-frame {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.index-similar-tips { 
    width: 100%;
    @include px2rem(height, 30px);
    @include px2rem(line-height, 30px);
    margin-bottom: 0.4rem;
    @include px2rem(font-size, $font-F5);
    color: $color-C4;
    text-align: center;
}
.index-similar-item {
    @include px2rem(width, 330px);
    @include px2rem(height, 426px);
    overflow: hidden;
}
.index-similar-cover {
    @include px2rem(width, 330px);
    @include px2rem(height, 330px);
    // background-image: url(../img/1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.index-similar-name {
    width: 100%;
    @include px2rem(height, 36px);
    @include px2rem(line-height, 36px);
    margin: 0.4rem 0;
    @include px2rem(font-size, $font-F5);
    color: $color-C4;
    text-align: center;
    @include ell(1);
}

/**
 * 首页-详细资料
 */
.data-active {
    background-image: url(../img/work_detail_data_bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
.data-line {
    width: 100%;
    @include px2rem(height, 20px);
    opacity: 0;
}
.data-main {
    width: 100%;
    height: auto;
    @include px2rem(margin-top, 20px);
    background-color: #ffffff;
    position: relative;
    z-index: 2;
    overflow: hidden;
}
.data-title {
    @include px2rem(font-size, $font-F4);
    color: $color-C1;
    text-align: center;
    @include px2rem(height, 30px);
    @include px2rem(line-height, 30px);
    padding: 0.4rem 0;
    box-shadow: 0 2px 5px -3px rgba(53,53,53,0.6);  
}
.data-cost {
    width: auto;
    margin: 0 0.52rem;
    overflow: hidden;
}
.data-cost li {
    width: 50%;
    height: auto;
    position: relative;
    border-bottom: 1px solid $color-C3;
    float: left;
    padding: 0.4rem 0;
}
.data-cost-line {
    width: 1px;
    @include px2rem(height, 60px);
    background-color: $color-C3;
    position: absolute;
    @include px2rem(top, 60px);
    right: 0;
}
.data-cost-icon {
    @include px2rem(width, 66px);
    @include px2rem(height, 66px);
    margin: 0 auto;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.data-cost p {
    @include px2rem(font-size, $font-F4);
    color: $color-C1;
    text-align: center;
    @include px2rem(height, 30px);
    @include px2rem(line-height, 30px);
    padding-top: 0.28rem;
}
.data-cost p :nth-child(2) {
    margin-left: 0.24rem;
}
.data-icon-1 {
    background-image: url(../img/work_data_price_fwsj@3x.png);
}
.data-icon-2 {
    background-image: url(../img/work_data_price_jczx@3x.png);
}
.data-icon-3 {
    background-image: url(../img/work_data_price_sssb@3x.png);
}
.data-icon-4 {
    background-image: url(../img/work_data_price_jjjd@3x.png);
}
.data-icon-5 {
    background-image: url(../img/work_data_price_djsp@3x.png);
}
.data-icon-6 {
    background-image: url(../img/work_data_price_zycl@3x.png);
}
.data-icon-7 {
    background-image: url(../img/work_data_price_fwgz@3x.png);
}
.data-icon-8 {
    background-image: url(../img/work_data_price_qtzj@3x.png);
}
.data-totalCost {
    width: auto;
    margin: 0.4rem 0.52rem;
    @include px2rem(font-size, $font-F4);
    color: $color-C1;
    text-align: center;
    background-color: #f5f5f5;
    @include px2rem(height, 30px);
    @include px2rem(line-height, 30px);
    padding: 0.4rem 0;
}
.data-totalCost span {
    margin-left: 0.24rem;
}
.data-module {
    width: auto;
    margin: 0.4rem 0.52rem 0 0.52rem;
    overflow: hidden;
}
.data-module ul {
    margin-right: -0.28rem;
}
.data-module li {
    @include css3(box-sizing, border-box);
    float: left;
    border: 1px solid $color-C3;
    @include px2rem(width, 210px);
    @include px2rem(height, 66px);
    @include px2rem(line-height, 66px);
    margin: 0 0.28rem 0.4rem 0;
    border-radius: 3px;
    text-align: center;
}
.data-module a {
    display: block;
    width: 100%;
    height: 100%;
    color: $color-C4;
}
.data-module a:hover {
    text-decoration: none;
}

/**
 * 原创团队
 */
.team-group {
    width: auto;
    height: auto;
    margin: 0 0.52rem;
    overflow: hidden;
}
.team-title {
    width: 100%;
    border-bottom: 1px solid $color-C3;
    @include px2rem(font-size, $font-F4);
    color: $color-C1;
    @include px2rem(height, 30px);
    @include px2rem(line-height, 30px);
    padding: 0.4rem 0;
}
.team-list {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 0.42rem;
}
.team-list li {
    width: 100%;
    border-bottom: 1px solid $color-C3;
    @include px2rem(height, 141px);
    overflow: hidden;
    position: relative;
}
.team-list li a {
    display: block;
    width: 100%;
    height: 100%;
}
.team-portrait {
    @include px2rem(height, 81px);
    @include px2rem(width, 81px);
    margin: 0.4rem 0.56rem 0.4rem 0;
    background-image: url(../img/work_details_more_ico@3x.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
}
.team-portrait img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
}
.team-member h4 {
    @include px2rem(font-size, $font-F4);
    font-weight: normal;
    color: $color-C1;
    width: 7rem;
    height: auto;
    margin: 0.4rem 0 0.08rem 0;
    @include ell(1);
}
.team-member p {
    @include px2rem(font-size, $font-F6);
    color: $color-C5;
    width: auto;
    height: auto;
}
.team-list span {
   @include px2rem(width, 15px);
   @include px2rem(height, 30px);
   position: absolute;
   @include px2rem(top, 55px);
   right: 0;
   background-image: url(../img/work_details_more_ico@3x.png);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}

/**
 * 平面布置页面
 */
.plainLayout-item {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-bottom: 6px solid #b6b6b6;
}
.plainLayout-title {
    width: auto;
    margin: 0 0.5333rem;
    overflow: hidden;
}
.plainLayout-title h1 {
    @include px2rem(font-size, 56px);
    font-weight: bold;
    color: $color-C1;
    width: auto;
    @include px2rem(height, 60px);
    padding: 0.62rem 0 0.30rem 0;
}
.plainLayout-title h4 {
    @include px2rem(font-size, $font-F5);
    color: $color-C4;
    @include px2rem(width, 500px);
    @include px2rem(height, 36px);
    @include px2rem(line-height, 36px);
    padding-bottom:0.14rem;
    border-bottom: 1px solid $color-C3;
}
.plainLayout-pic {
    width: 100%;
    height: auto;
    margin: 0.32rem 0;
    position: relative;
}
.plainLayout-pic img {
    width: 100%;
    height: auto;
}
.plainLayout-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.plainLayout-describe {
    width: auto;
    height: auto;
    line-height: 0.72rem;
    overflow: hidden;
    word-break:break-all;
    word-wrap:break-word;
    @include px2rem(font-size, $font-F4);
    color: $color-C4;
    margin: 0 0.5333rem 0.6rem 0.5333rem;
}

/**
 * 实景照片
 */
.realScene-item {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.realScene-title {
    @include px2rem(font-size, $font-F2);
    color: $color-C1;
    @include px2rem(height, 36px);
    @include px2rem(line-height, 36px);
    width: auto;
    padding: 0.6rem 0 0.32rem 0;
    margin: 0 0.5333rem;
    font-weight: bold;
}
.realScene-describe {
    width: auto;
    height: auto;
    line-height: 0.72rem;
    overflow: hidden;
    word-break:break-all;
    word-wrap:break-word;
    @include px2rem(font-size, $font-F4);
    color: $color-C4;
    margin: 0 0.5333rem 0.6rem 0.5333rem;
}
.realScene-pic {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}
.realScene-pic img {
    width: 100%;
    height: auto;
}
.realScene-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/**
 * 浏览大图
 */
.scan-frame {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.scan-list {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000000;
}
.scan-item {
    @include px2rem(width, 750px);
    height: 100%;
    position: relative;
    display: table;
    float: left;
}
.scan-picBox {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align:middle;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.scan-picBox img {
    width: 100.5%;
    height: auto;
    vertical-align:middle;
}
.scan-picBox div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.scan-content {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    @include px2rem(height, 320px);
    overflow: hidden;
    padding: 1.2rem 0 1.16rem 0;
    background:-webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(53,53,53,0)); 
    @include css3(overflow-scrolling, touch);
    z-index: 2;
}
.scan-describe  {
    width: auto;
    margin: 0 0.5333rem;
    @include px2rem(height, 320px);
    overflow-y: auto;
}
/*滚动条大小*/
.scan-describe::-webkit-scrollbar {
    width: 2px;
}
/*滚动条默认显示样式*/
.scan-describe::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    background-color: #ffffff;
    min-height: 28px; 
    border-radius: 2px;
}
.scan-describe h3 {
    color: #ffffff;
    @include px2rem(font-size, $font-F2);
    font-weight: bold;
}
.scan-describe p {
    color: #ffffff;
    height: auto;
    width: 100%;
    @include px2rem(font-size, $font-F4);
    @include px2rem(line-height, 54px);
}
.scan-page {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    @include px2rem(height, 36px);
    @include px2rem(height, 36px);
    color: #ffffff;
    @include px2rem(font-size, $font-F2);
    margin: 0.4rem 0 0.28rem 0;
    text-align: center;
    z-index: 3;
}

/**
 * 材料品牌
 */
.material-module {
    width: auto;
    margin: 0 0.52rem;
    overflow: hidden;
}
.material-title {
    width: 100%;
    border-bottom: 1px solid $color-C3;
    @include px2rem(font-size, $font-F4);
    color: $color-C1;
    @include px2rem(height, 30px);
    @include px2rem(line-height, 30px);
    padding: 0.4rem 0;
}
.material-list {
    width: 100%;
    height: auto;
    margin-top: 0.4rem;
    overflow: hidden;
}
.material-list ul {
    margin-right: -0.48rem;
}
.material-list li {
    float: left;
    @include px2rem(width, 200px);
    height: auto;
    margin: 0 0.48rem 0.4rem 0;
}
.material-list div {
    @include css3(box-sizing, border-box);
    border: 1px solid $color-C3;
    @include px2rem(width, 200px);
    @include px2rem(height, 84px);
    @include px2rem(line-height, 84px);
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.material-list img {
    width: 100%;
    height: 100%;
}
.material-list p {
    padding-top: 0.28rem;
    @include px2rem(font-size, $font-F5);
    color: $color-C4;
    @include px2rem(height, 30px);
    @include px2rem(line-height, 30px);
    text-align: center;
}

/**
 * 个人简介
 */
.personal-portrait {
    margin: 0.4rem auto;
    border: 1px solid $color-C3;
    @include px2rem(width, 192px);
    @include px2rem(height, 192px);
    border-radius: 50%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.personal-portrait img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.personal-name {
    width: 100%;
    height: auto;
    @include px2rem(font-size, $font-F2);
    color: $color-C1;
    text-align: center;
    margin-bottom: 0.2rem;
}
.personal-job {
    width: 100%;
    height: auto;
    @include px2rem(font-size, $font-F6);
    color: $color-C5;
    text-align: center;
}
.personal-company {
    margin: 0.4rem 0 0.2rem 0;
    text-align: center;
    height: auto;
    width: 100%;
    @include px2rem(font-size, $font-F2);
    color: $color-C1;
}
.personal-summary {
    width: auto;
    @include px2rem(height, 162px);
    @include px2rem(font-size, $font-F5);
    color: $color-C4;
    @include px2rem(line-height, 54px);
    margin: 0 0.52rem 0.4rem 0.52rem;
    overflow: hidden;
    text-align: center;
    word-break:break-all;
    word-wrap:break-word; 
}
.personal-summary-active {
    height: auto;
}
.personal-btn {
    display: none;
    width: 100%;
    @include px2rem(height, 20px);
    margin: 0 auto 0.4rem auto;
    background-image: url(../img/work_yctd_info_more_ico@3x.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;                  
}
.personal-btn-active {
    @include css3(transform,rotate(180deg));
}
.personal-show {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}
.personal-showBg {
    position: absolute;
    top: 1.2rem;
    left: 0;
    right: 0;
    bottom: 0;
}
.personal-title {
    width: auto;
    margin: 0 0.53333rem;
    @include px2rem(height, 30px);
    @include px2rem(line-height, 30px);
    padding: 0.4rem 0;
    @include px2rem(font-size, $font-F4);
    color: $color-C1;
    position: relative;
}
.personal-title span {
   @include px2rem(width, 15px);
   @include px2rem(height, 30px);
   position: absolute;
   @include px2rem(top, 30px);
   right: 0;
   background-image: url(../img/work_details_more_ico@3x.png);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}
.personal-showPic {
   display: block;
   @include px2rem(width, 750px);
   height: auto;
}
.personal-article {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.personal-article li {
    border-bottom: 1px solid $color-C3;
    @include px2rem(min-height, 162px);
    width: 100%;
    height: auto;
    overflow: hidden;
}
.personal-article li:last-child {
    border-bottom: 0;
}
.personal-article-title {
    vertical-align: middle;
    padding: 0.52rem 0;
    margin-left: 0.52rem;
    @include px2rem(width, 507px);
    @include px2rem(font-size, $font-F4);
    color: $color-C1;
    @include px2rem(line-height, 45px);
    word-break:break-all;
    word-wrap:break-word;
}
.personal-article-thumb {
    @include px2rem(width, 126px);
    @include px2rem(height, 126px);
    background-color: #e6e6e6;
    margin-right: 0.52rem;
    overflow: hidden;
    position: relative;
}
.personal-article-thumb img {
    width: 100%;
    height: 100%;
}
.personal-article-thumb div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.personal-service-standard {
    width: auto;
    margin: 0 0.52rem;
    @include px2rem(font-size, $font-F4);
    color: $color-C1;
    @include px2rem(height, 30px);
    @include px2rem(line-height, 30px);
    padding: 0.52rem 0;
    border-bottom: 1px solid $color-C3;
}
.personal-service-btn {
    @include px2rem(width, 15px);
    @include px2rem(height, 30px);
    @include px2rem(line-height, 30px);
    margin-left: 0.2rem;
    background-image: url(../img/work_details_more_ico@3x.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.3;
}
.personal-service-price {
    @include px2rem(font-size, $font-F3);
    color: $color-C6;
    font-weight: bold;
}
.personal-service-object {
    width: auto;
    margin: 0 0.52rem;
    @include px2rem(font-size, $font-F4);
    color: $color-C1;
    @include px2rem(height, 30px);
    @include px2rem(line-height, 30px);
    padding: 0.52rem 0;
}
.personal-video {
    width: 100%;
    @include px2rem(height, 500px);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.personal-video div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
}
.personal-video span {
    display: block;
    @include px2rem(width, 200px);
    @include px2rem(height, 200px);
    position: absolute;
    top: 50%;
    left: 50%;
    @include px2rem(margin-left, -100px);
    @include px2rem(margin-top, -100px);
    background-image: url(../img/work_details_sp_play_ico@3x.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.personal-title .personal-other {
    position: static;
    background: none;
    width: auto;
    height: auto;
}
.personal-otherCase {
    width: auto;
    margin: 0 0.4rem;
    height: auto;
    overflow: hidden;
}
.personal-otherCase ul {
    margin-right: -0.4rem;
}
.personal-otherCase li {
    @include px2rem(width, 330px);
    height: auto;
    margin-right: 0.4rem;
    overflow: hidden;
    float: left;
}
.personal-otherCase div {
    @include px2rem(width, 330px);
    @include px2rem(height, 330px);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.personal-otherCase div img {
    width: 100%;
    height: 100%;
}
.personal-otherCase p {
    width: 100%;
    text-align: center;
    @include px2rem(font-size, $font-F5);
    color: $color-C4;
    @include px2rem(height, 36px);
    @include px2rem(line-height, 36px);
    margin: 0.52rem 0;
    @include ell(1);
}
.personal-mask {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
}
.personal-mask > div {
    width: 100%;
    height: 100%;
    display: table;
}
.personal-mask > div > div {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align:middle;
}
.personal-mask video {
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle;
}

/**
 * 公司简介
 */
.company-portrait {
    margin: 0.4rem auto;
    border: 1px solid $color-C3;
    @include px2rem(width, 192px);
    @include px2rem(height, 192px);
    border-radius: 50%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 
}
.company-portrait img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.company-name {
    margin-bottom: 0.4rem;
    text-align: center;
    height: auto;
    width: 100%;
    @include px2rem(font-size, $font-F2);
    color: $color-C1;
}
.company-summary {
    width: auto;
    @include px2rem(height, 162px);
    @include px2rem(font-size, $font-F5);
    color: $color-C4;
    @include px2rem(line-height, 54px);
    margin: 0 0.52rem 0.4rem 0.52rem;
    overflow: hidden;
    text-align: center;
    word-break:break-all;
    word-wrap:break-word; 
}
.company-summary-active {
    height: auto;
}
.company-btn {
    display: none;
    width: 100%;
    @include px2rem(height, 20px);
    margin: 0 auto 0.4rem auto;
    background-image: url(../img/work_yctd_info_more_ico@3x.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;                   
}
.company-btn-active {
    @include css3(transform,rotate(180deg));
}
.company-show {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}
.company-showBg {
    position: absolute;
    top: 1.2rem;
    left: 0;
    right: 0;
    bottom: 0;
}
.company-title {
    width: auto;
    margin: 0 0.53333rem;
    @include px2rem(height, 30px);
    @include px2rem(line-height, 30px);
    padding: 0.4rem 0;
    @include px2rem(font-size, $font-F4);
    color: $color-C1;
    position: relative;
}
.company-title span {
   @include px2rem(width, 15px);
   @include px2rem(height, 30px);
   position: absolute;
   @include px2rem(top, 30px);
   right: 0;
   background-image: url(../img/work_details_more_ico@3x.png);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}
.company-showPic {
   display: none;
   width: 100%;
   height: auto;
   overflow: hidden;
}
.company-title .company-other {
    position: static;
    background: none;
    width: auto;
    height: auto;
}
.company-otherCase {
    width: auto;
    margin: 0 0.4rem;
    height: auto;
    overflow: hidden;
}
.company-otherCase ul {
    margin-right: -0.4rem;
}
.company-otherCase li {
    @include px2rem(width, 330px);
    height: auto;
    margin-right: 0.4rem;
    overflow: hidden;
    float: left;
}
.company-otherCase div {
    @include px2rem(width, 330px);
    @include px2rem(height, 330px);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.company-otherCase div img {
    width: 100%;
    height: 100%;
}
.company-otherCase p {
    width: 100%;
    text-align: center;
    @include px2rem(font-size, $font-F5);
    color: $color-C4;
    @include px2rem(height, 36px);
    @include px2rem(line-height, 36px);
    margin: 0.52rem 0;
    @include ell(1);
}
.company-toast {
    position: absolute;
    bottom: 3rem;
    left: 1.5rem;
    width: 7rem;
    height: 1rem;
    border-radius: 20px;
    color: #fff;
    background-color: rgba(0,0,0,0.8);
    text-align: center;
    line-height: 1rem;
}

/**
 * 公司展示
 */
.company-720 {
    width: 10rem;
    height: 10rem;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}
.company-720-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    @include px2rem(height, 225px);
    background:-webkit-linear-gradient(bottom, rgba(0,0,0,0.8), rgba(0,0,0,0)); 
}
.company-720-btn {
    @include px2rem(width, 186px);
    @include px2rem(height, 58px);
    background-image: url(../img/work_details_720_play_ico@3x.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    position: absolute;
    bottom: 0.28rem;
    right: 0.52rem;
    display: none;
}
.company-video {
    width: 100%;
    @include px2rem(height, 500px);
    background-image: url(../img/1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}
.company-video div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
}
.company-video span {
    display: block;
    @include px2rem(width, 200px);
    @include px2rem(height, 200px);
    position: absolute;
    top: 50%;
    left: 50%;
    @include px2rem(margin-left, -100px);
    @include px2rem(margin-top, -100px);
    background-image: url(../img/work_details_sp_play_ico@3x.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.company-mask {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
}
.company-mask > div {
    width: 100%;
    height: 100%;
    display: table;
}
.company-mask > div > div {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align:middle;
}
.company-mask video {
    width: 100%;
    background-image: url(../img/1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle;
}
.company-border-bottom {
    border-bottom: 1px  solid $color-C3;
}
.company-list {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.company-item {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.company-item-title {
    @include px2rem(font-size, 56px);
    color: $color-C1;
    font-weight: bold;
    width: auto;
    height: auto;
    padding: 0.6rem 0 0.16rem 0;
    margin: 0 0.52rem;
}
.company-item-describe {
    width: auto;
    height: auto;
    margin: 0 0.52rem;
    @include px2rem(line-height, 54px);
    @include px2rem(font-size, $font-F4);
    color: $color-C4;
}
.company-item-box {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}
.company-item-box div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.company-item-pic {
    width: 100%;
    height: auto;
    margin-top: 0.4rem;
}
.personal-slideDown {
    display: none;
    width: 100%;
    @include px2rem(height, 30px);
    @include px2rem(line-height, 30px);
    padding:0.4rem 0;
    text-align: center;
    @include px2rem(font-size, $font-F4);
    color: $color-C1;
    background-color: #ffffff;
}
/**
 * WIFI提示
 */
.wifi-mask {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 100;
}
.wifi-mask > div {
    width: 100%;
    height: 100%;
    display: table;
}
.wifi-mask > div > div {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align:middle;
}
.wifi-frame {
    width: 7rem;
    height: 3.2rem;
    background-color: #ffffff;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
}
.wifi-content {
    width: 5rem;
    height: 1.2rem;
    padding: 0.4rem 0;
    line-height: 0.6rem;
    text-align: center;
    margin: 0 auto;
    @include px2rem(font-size, $font-F4);
    color: $color-C1;
}
.wifi-btn {
    width: 100%;
    height: 1.2rem;
    border-top: 1px solid $color-C3;
}
.wifi-btn div {
    width: 50%;
    height: 100%;
    line-height: 1.2rem;
    text-align: center;
    @include px2rem(font-size, $font-F4);
    color: $color-C6;
}
.wifi-Lbtn {
    border-right: 1px solid $color-C3;
    box-sizing: border-box;
}

/**
 * 视频页面
 */
.video {
    width: 100%;
    height: 100%;
    display: table;
}
.video div {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}
.video video {
    width: 100%;
    vertical-align: middle;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transform:translateZ(0);
    transform:translateZ(0);
}

/**
 * 底部链接
 */
.bottom {
    width: 100%;
    @include px2rem(height, 74px);
    padding: 0.64rem 0;
    background-color: rgba(255,255,255,0.9);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #e53573;
    z-index: 10001;
}
.bottom-logo {
    @include px2rem(width, 186px);
    @include px2rem(height, 40px);
    background-repeat:no-repeat;
    background-position: center center;
    background-size:contain;
    background-image: url(../img/download_ywmj_logo@3x.png);
    position: absolute;
    @include px2rem(top, 48px);
    @include px2rem(left, 34px);
    overflow: hidden;
}
.bottom-slogen {
    @include px2rem(width, 367px);
    @include px2rem(height, 25px);
    background-repeat:no-repeat;
    background-position: center center;
    background-size:contain;
    background-image: url(../img/download_slogn_txt@3x.png);
    position: absolute;
    @include px2rem(top, 100px);
    @include px2rem(left, 34px);
    overflow: hidden;
}
.bottom-btn {
    @include px2rem(width, 184px);
    @include px2rem(height, 74px);
    background-color: #e53573;
    color: #fff;
    border-radius: 5px;
    position: absolute;
    @include px2rem(top, 50px);
    @include px2rem(right, 120px); 
    display: block;
    text-align: center;
    @include px2rem(font-size, 28px);
    @include px2rem(line-height, 74px);
}
.bottom-btn:hover {
    text-decoration: none;
}
.bottom-close {
    @include px2rem(width, 30px);
    @include px2rem(height, 30px);
    background-repeat:no-repeat;
    background-position: center center;
    background-size:cover;
    background-image: url(../img/download_close_ico@3x.png);
    position: absolute;
    @include px2rem(top, 14px);
    @include px2rem(right, 40px);
}

.show {
    display: block;
}

/**
 * 微信下载提示
 */
.wxTips {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 10002;
}
.wxTips div {
    @include px2rem(width, 300px);
    @include px2rem(height, 160px);
    background-repeat:no-repeat;
    background-position: center center;
    background-size:cover;
    background-image: url(../img/wxTips.png);
    position: absolute;
    top: 0;
    @include px2rem(right, 40px);
}

/**
 * 无内容提示
 */ 
.data-noContent {
    display: none;
    position: absolute;
    top: 1.2rem;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #f5f5f5;
    border-top: 1px solid $color-C3;
}
.data-noContent-image {
    width: 4rem;
    height: 4rem;
    margin: 2.6rem auto 1rem auto;
    border-radius: 50%;
    background-image: url(../img/no_collection_ico@3x.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.data-noContent-text {
    width: 100%;
    height: auto;
    text-align: center;
    @include px2rem(font-size, $font-F4);
    color: $color-C5;
}