<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,width=device-width,user-scalabel=no,maximum-scale=1.0,minimum-scale=1.0" />
    <!-- 去掉移动web页面自动探测电话号码 -->
    <meta name="format-detection" content="telephone=no, email=no"/>
    <title>优惠详情</title>
    
    <script>
        var _czc = _czc || [];
        _czc.push(["_setAccount", "1260955674"]);
    </script>

    <script src="../static/js/libs/flexible.js"></script>
    <link rel="stylesheet" href="../static/css/reset.css" type="text/css ">
    <link rel="stylesheet" href="../static/css/benefit.css" type="text/css">
</head>
<body>
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260955674'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1260955674' type='text/javascript'%3E%3C/script%3E"));</script>
    <div class="wrap">
        <div class="title">优惠详情<span></span></div>
        <div class="content">
            <div class="detail-cover">
                <div class="detail-cover-mask"></div>
                <div class="detail-cover-bg"></div>
                <img src="" alt="">
            </div>
            <div class="detail-Info">
                <div class="detail-Info-location">
                </div>
                <div class="detail-Info-title">
                </div>
                <div class="detail-Info-summary"></div>
                <div class="detail-Info-date"></div>
            </div>
            <div class="detail-details">
                <div class="detail-details-title">
                    活动细则
                </div>
                <div class="detail-details-text">
                </div>
                <div class="detail-details-pic">
                    <div></div>
                </div>
                <div class="detail-details-btn"></div>
            </div>
            <div class="line-index"></div>
            <div class="detail-company">
                <div class="detail-company-title">
                    优惠商家
                    (<span class="detail-company-count"></span>)
                </div>
                <ul class="detail-company-list">
                    <!-- <li class="detail-company-item">
                        <a href="http://192.168.28.84:8085/consoleMobile/template/benefitCompany.html">
                            <div class="detail-company-logo">
                                <img src="../static/img/1.jpg" alt="">
                            </div>
                            <div class="detail-company-name">成都龙徽工程设计顾问有限公司</div>
                            <div class="detail-company-summary">
                                成都龙徽工程设计顾问有限公司成都龙徽工程设计顾问有限公司成都龙徽工程设计顾问有限公司成都龙徽工程设计顾问有限公司
                            </div>
                            <div class="detail-company-data">
                                <span class="detail-company-plan">预案数量 4</span>
                                <span class="detail-company-owner">参与业主 6</span>
                            </div>
                            <div class="detail-company-arrow"></div>
                        </a>
                    </li> -->
                </ul>
            </div>

        </div>
    </div>
    <script src="../static/js/libs/zepto.min.js"></script>
    <script src="../static/js/config.js"></script>
    <script src="../static/js/benefitInfo.js"></script>
</body>
</html>