<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,width=device-width,user-scalabel=no,maximum-scale=1.0,minimum-scale=1.0" />
    <!-- 去掉移动web页面自动探测电话号码 -->
    <meta name="format-detection" content="telephone=no, email=no"/>
    <title></title>

    <script>
        var _czc = _czc || [];
        _czc.push(["_setAccount", "1260955674"]);
    </script>

    <script src="../static/js/libs/flexible.js"></script>
    <link rel="stylesheet" href="../static/css/reset.css" type="text/css ">
    <link rel="stylesheet" href="../static/css/benefit.css" type="text/css">
</head>
<body>
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260955674'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1260955674' type='text/javascript'%3E%3C/script%3E"));</script>
    <div class="wrap">
        <div class="title">商家简介<span></span></div>
        <div class="content benefitCompany">
            <div class="company-logo"></div>
            <div class="company-name"></div>
            <div class="company-summary">
                <p></p>
            </div>
            <div class="company-btn"></div>
            <div class="detail-details">
                <div class="detail-details-title">
                    商家政策
                </div>
                <div class="detail-details-text"></div>
                <div class="detail-details-pic"></div>
                <div class="detail-details-btn"></div>
            </div>
            <ul class="coupon">
                <!-- <li class="coupon-frame">
                    <div class="coupon-logo"></div>
                    <div class="coupon-name"></div>
                    <div class="coupon-info"></div>
                    <div class="coupon-detail clearfix">
                        <div class="coupon-detail-btn fl">
                            详细情况<span></span>
                        </div>
                        <div class="coupon-detail-date fr">
                            有效期： <span></span>
                        </div>
                    </div>
                    <div class="coupon-hide">
                    </div>
                    <div class="coupon-btn">立即领取</div>
                </li> -->
            </ul>
            <div class="line-index"></div>
            <div class="company-actor">
                <div class="company-actor-title">
                    参与业主 
                    (<span class="company-actor-count"></span>)
                </div>
                <div class="company-actor-list">
                    <ul class="clearfix">
                    </ul>
                </div>
            </div>
            <div class="line-index"></div>
            <div class="company-case">
                <div class="company-case-title">
                    预案列表 (<span class="company-case-count"></span>)
                </div>
                <div class="company-case-list">
                    <ul class="clearfix">
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <script src="../static/js/libs/zepto.min.js"></script>
    <script src="../static/js/config.js"></script>
    <script src="../static/js/benefitCompany.js"></script>
</body>
</html>