<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,width=device-width,user-scalabel=no,maximum-scale=1.0,minimum-scale=1.0" />
    <meta name="format-detection" content="telphone=no, email=no"/>
    <title>公司简介</title>
    
    <script src="../static/js/libs/flexible.js"></script>
    <link rel="stylesheet" href="../static/css/reset.css" type="text/css">
    <link rel="stylesheet" href="../static/css/index.css" type="text/css">
</head>
<body>
    <div class="wrap">
        <div class="content">
            <div class="company-portrait">
                <img src="/static/img/1.jpg">
            </div>
            <div class="company-name">成都业之峰装饰有限公司</div>
            <div class="company-summary">
                <p>总监Amos是空间设计的诗意领航者，带着我们遨游于精致舒适、身心舒展的优质空间。顶尖设计、精英团队 Elite Team从精心设计到专业施工总监Amos是空间设计的诗意领航者，带着我们遨游于精致舒适、身心舒展的优质空间。顶尖设计、精英团队 Elite Team从精心设计到专业施工</p>
            </div>
            <div class="company-btn"></div>
            <div class="line-index"></div>
            <a id="company-show" href="javascript:void(0);">
                <div class="company-title">
                    公司展示
                    <span></span>
                </div>
                <div class="company-showPic"></div>
            </a>
            <div class="line-index"></div>
            <div class="company-title">
                其他作品 (<span class="company-other"></span>)
            </div>
            <div class="company-otherCase">
                <ul class="clearfix">
                   <!-- <li>
                       <div>
                           <img src="/static/img/1.jpg" alt="">
                       </div>
                       <p>90后文艺小清新</p>
                   </li>  -->
                </ul>
            </div>
            <div class="personal-slideDown">
                上拉刷新更多其他作品
            </div>
            <div class="line-index"></div>
        </div>

        <!-- 下载 -->
        <div class="bottom">
            <div class="bottom-logo"></div>
            <div class="bottom-slogen"></div>
            <a class="bottom-btn" href="http://a.app.qq.com/o/simple.jsp?pkgname=com.yingwumeijia.android.ywmj.client">立即下载</a>
            <div class="bottom-close"></div>
        </div>
        <!-- 下载 End-->
    </div>
    
    <script src="../static/js/libs/zepto.min.js"></script>
    <script src="../static/js/config.js"></script>
    <script src="../static/js/company.js"></script>
</body>
</html>