<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,width=device-width,user-scalabel=no,maximum-scale=1.0,minimum-scale=1.0" />
    <meta name="format-detection" content="telphone=no, email=no"/>
    <title>案例名称</title>
    
    <script src="/static/js/libs/flexible.js"></script>
    <link rel="stylesheet" href="/static/css/reset.css" type="text/css">
    <link rel="stylesheet" href="/static/css/index.css" type="text/css">
</head>
<body>
    <div class="wrap">
        <div class="realScene">
            <div class="content">
                <div class="index-nav">
                    <a href="#" class="active">
                        现场实景
                        <span></span>
                    </a>
                    <a href="#">
                        原创团队
                        <span></span>
                    </a>
                    <a href="#">
                        详细资料
                        <span></span>
                    </a>
                </div>
                <div class="index-720">
                    <div class="index-720-bg"></div>
                    <div class="index-720-name">
                        恬静的音符
                    </div>
                    <div class="index-720-btn show">
                        <span></span>
                        720°浏览
                    </div>
                </div>
                <div class="index-basicInfo">
                    <div class="index-basicInfo-title">
                        基础信息
                    </div>
                    <div class="index-basicInfo-info">
                        金都花园一期 / 欧式 / 别墅 / 150㎡ / 40万 / 金都花园一期 / 欧式 / 别墅 / 150㎡ / 40万
                    </div>
                </div>
                <div class="line-index"></div>
                <div class="index-module index-plainLayout">
                    <div class="index-module-title">
                        平面布置
                        <span></span>
                    </div>
                    <a class="index-module-pic" href="#"></a>
                </div>
                <div class="line-index"></div>
                <div class="index-module index-scene">
                    <div class="index-module-title">
                        实景照片
                        <span></span>
                    </div>
                    <a class="index-module-pic" href="#"></a>
                </div>
                <div class="line-index"></div>
                <div class="index-similar">
                    <div class="index-similar-title">
                        类似作品
                    </div>
                    <div class="index-similar-frame clearfix">
                        <div class="index-similar-item fl">
                            <div class="index-similar-cover"></div>
                            <div class="index-similar-name">
                                90后文艺小清新
                            </div>
                        </div>
                        <div class="index-similar-item fr">
                            <div class="index-similar-cover"></div>
                            <div class="index-similar-name">
                                啄木鸟之家
                            </div>
                        </div>
                    </div>
                </div>
                <div class="line-index"></div>
            </div>
        </div>
    </div>

    <script src="/static/js/libs/zepto.min.js"></script>
    <script src="/static/js/config.js"></script>
    <script src="/static/js/index.js"></script>
</body>
</html>