<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,width=device-width,user-scalabel=no,maximum-scale=1.0,minimum-scale=1.0" />
    <meta name="format-detection" content="telphone=no, email=no"/>
    <title>现场实景</title>
    
    <script src="/static/js/libs/flexible.js"></script>
    <link rel="stylesheet" href="/static/css/reset.css" type="text/css">
    <link rel="stylesheet" href="/static/css/index.css" type="text/css">
</head>
<body>
    <div class="wrap">
        <div class="content">
            <div class="index-nav">
                <a href="#" class="active">
                    现场实景
                    <span></span>
                </a>
                <a href="#">
                    原创团队
                    <span></span>
                </a>
                <a href="#">
                    详细资料
                    <span></span>
                </a>
            </div>
            <div class="index-tab show">
                <div class="index-720">
                    <a href="#" class="index-720-url"></a>
                    <div class="index-720-bg"></div>
                    <div class="index-720-name"></div>
                    <div class="index-720-btn show">
                        <span></span>
                        720°观赏
                    </div>
                </div>
                <div class="index-basicInfo">
                    <div class="index-basicInfo-title">
                        基础信息
                    </div>
                    <div class="index-basicInfo-info"></div>
                </div>
                <div class="line-index"></div>
                <a class="index-module index-plainLayout">
                    <div class="index-module-title">
                        平面布置
                        <span></span>
                    </div>
                    <div class="index-module-pic"></div>
                </a>
                <div class="line-index"></div>
                <a class="index-module index-scene">
                    <div class="index-module-title">
                        实景照片
                        <span></span>
                    </div>
                    <div class="index-module-pic"></div>
                </a>
                <div class="line-index"></div>
                <div class="index-similar">
                    <div class="index-similar-title">
                        类似作品
                    </div>
                    <div class="index-similar-frame clearfix">
                        <!-- <div class="index-similar-item fl">
                            <div class="index-similar-cover"></div>
                            <div class="index-similar-name">
                                90后文艺小清新
                            </div>
                        </div>
                        <div class="index-similar-item fr">
                            <div class="index-similar-cover"></div>
                            <div class="index-similar-name">
                                啄木鸟之家
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="line-index"></div>
            </div>
            <!-- 详细资料 -->
            <div class="index-tab">
                <div class="data-main">
                    <div class="data-title">
                        项目造价
                    </div>
                    <ul class="data-cost clearfix">
                        <li>
                            <div class="data-cost-icon data-fwsj"></div>
                            <p>
                                <span>房屋设计</span>
                                <span>8.0万元</span>
                            </p>
                            <div class="data-cost-line"></div>
                        </li>
                        <li>
                            <div class="data-cost-icon data-jczx"></div>
                            <p>
                                <span>基础装修</span>
                                <span>8.0万元</span>
                            </p>
                        </li>
                        <li>
                            <div class="data-cost-icon data-sbss"></div>
                            <p>
                                <span>设备设施</span>
                                <span>8.0万元</span>
                            </p>
                            <div class="data-cost-line"></div>
                        </li>
                        <li>
                            <div class="data-cost-icon data-jjjd"></div>
                            <p>
                                <span>家具家电</span>
                                <span>8.0万元</span>
                            </p>
                        </li>
                        <li>
                            <div class="data-cost-icon data-djsp"></div>
                            <p>
                                <span>灯具饰品</span>
                                <span>8.0万元</span>
                            </p>
                            <div class="data-cost-line"></div>
                        </li>
                        <li>
                            <div class="data-cost-icon data-zycl"></div>
                            <p>
                                <span>主要材料</span>
                                <span>8.0万元</span>
                            </p>
                        </li>
                        <li>
                            <div class="data-cost-icon data-fxgz"></div>
                            <p>
                                <span>房型改造</span>
                                <span>8.0万元</span>
                            </p>
                            <div class="data-cost-line"></div>
                        </li>
                        <li>
                            <div class="data-cost-icon data-qtzj"></div>
                            <p>
                                <span>其他造价</span>
                                <span>8.0万元</span>
                            </p>
                        </li>
                    </ul>
                    <div class="data-totalCost">
                        总造价 <span>40万元</span>
                    </div>
                </div>
                <div class="data-main">
                    <div class="data-title">
                        材料品牌
                    </div>
                    <div class="data-module data-material">
                        <ul class="clearfix">
                            <li>
                                <a href="#">辅材品牌</a>
                            </li>
                            <li>
                                <a href="#">主材品牌</a>
                            </li>
                            <li>
                                <a href="#">设备品牌</a>
                            </li>
                            <li>
                                <a href="#">家具品牌</a>
                            </li>
                            <li>
                                <a href="#">饰品品牌</a>
                            </li>
                            <li>
                                <a href="#">灯具品牌</a>
                            </li>
                        </ul>
                    </div>  
                </div>
                <div class="data-main">
                    <div class="data-title">
                        工艺细节
                    </div>
                    <div class="data-module">
                        <ul class="clearfix">
                            <li>
                                <a href="#">客厅</a>
                            </li>
                            <li>
                                <a href="#">餐厅</a>
                            </li>
                            <li>
                                <a href="#">厨房</a>
                            </li>
                            <li>
                                <a href="#">主卧</a>
                            </li>
                            <li>
                                <a href="#">主卫</a>
                            </li>
                            <li>
                                <a href="#">客房</a>
                            </li>
                            <li>
                                <a href="#">儿童房</a>
                            </li>
                            <li>
                                <a href="#">老人房</a>
                            </li>
                            <li>
                                <a href="#">次卫</a>
                            </li>
                            <li>
                                <a href="#">书房</a>
                            </li>
                            <li>
                                <a href="#">休闲室</a>
                            </li>
                            <li>
                                <a href="#">影音室</a>
                            </li>
                        </ul>
                    </div>  
                </div>
                <div class="data-main">
                    <div class="data-title">
                        竣工图纸
                    </div>
                    <div class="data-module">
                        <ul class="clearfix">
                            <li>
                                <a href="#">土建改造</a>
                            </li>
                            <li>
                                <a href="#">水电工程</a>
                            </li>
                            <li>
                                <a href="#">装修工程</a>
                            </li>
                            <li>
                                <a href="#">设备工程</a>
                            </li>
                            <li>
                                <a href="#">配饰工程</a>
                            </li>
                            <li>
                                <a href="#">园林工程</a>
                            </li>
                        </ul>
                    </div>  
                </div>
            </div>
            <!-- 原创团队 -->
            <div class="index-tab">
                <div class="line-index"></div>
                <div class="team-group">
                    <div class="team-title">
                        设计
                    </div>
                    <ul class="team-list clearfix">
                        <li>
                            <a href="#">
                                <div class="team-portrait fl">
                                    <img src="/static/img/1.jpg">
                                </div>
                                <div class="team-member fl">
                                    <h4>田妮妮</h4>
                                    <p>家具顾问</p>
                                </div>
                                <span></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="team-portrait fl">
                                    <img src="/static/img/1.jpg">
                                </div>
                                <div class="team-member fl">
                                    <h4>成都业之峰装修有限公司</h4>
                                    <p>所属公司</p>
                                </div>
                                <span></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="line-index"></div>
            </div>
        </div>
    </div>

    <script src="/static/js/libs/zepto.min.js"></script>
    <script src="/static/js/config.js"></script>
    <script src="/static/js/index.js"></script>
</body>
</html>