<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,width=device-width,user-scalabel=no,maximum-scale=1.0,minimum-scale=1.0" />
    <meta name="format-detection" content="telphone=no, email=no"/>
    <title></title>
    
    <script src="../static/js/libs/flexible.js"></script>
    <link rel="stylesheet" href="../static/css/reset.css" type="text/css">
    <link rel="stylesheet" href="../static/css/index.css" type="text/css">
</head>
<body>
    <div class="wrap">
        <div class="content">
            <div class="index-nav clearfix">
                <a href="#index=0" class="active">
                    现场实景
                    <span></span>
                </a>
                <a href="#index=1">
                    原创团队
                    <span></span>
                </a>
                <a href="#index=2">
                    详细资料
                    <span></span>
                </a>
            </div>
            <div class="index-tab show">
                <a href="javascript:void(0);" id="index-720">
                    <div class="index-720">
                        <div class="index-720-bg"></div>
                        <div class="index-720-name"></div>
                        <div class="index-720-btn"></div>
                    </div>
                </a>
                <div class="index-basicInfo">
                    <div class="index-basicInfo-title">
                        基础信息
                    </div>
                    <div class="index-basicInfo-info"></div>
                </div>
                <div class="line-index"></div>
                <a id="index-plainLayout">
                    <div class="index-module-title">
                        平面布置
                        <span></span>
                    </div>
                    <div class="index-module-pic"></div>
                </a>
                <div class="line-index"></div>
                <a id="index-scene">
                    <div class="index-module-title">
                        实景照片
                        <span></span>
                    </div>
                    <div class="index-module-pic"></div>
                </a>
                <div class="line-index"></div>
                <div class="index-similar">
                    <div class="index-similar-title">
                        类似作品
                    </div>
                    <div class="index-similar-frame clearfix">
                        <!-- <div class="index-similar-item fl">
                            <div class="index-similar-cover"></div>
                            <div class="index-similar-name">
                                90后文艺小清新
                            </div>
                        </div>
                        <div class="index-similar-item fr">
                            <div class="index-similar-cover"></div>
                            <div class="index-similar-name">
                                啄木鸟之家
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="line-index"></div>
            </div>
            
            <!-- 原创团队 -->
            <div class="index-tab js-team">
                <div class="line-index"></div>
                <!-- <div class="team-group">
                    <div class="team-title">
                        设计
                    </div>
                    <ul class="team-list clearfix">
                        <li>
                            <a href="#">
                                <div class="team-portrait fl">
                                    <img src="/static/img/1.jpg">
                                </div>
                                <div class="team-member fl">
                                    <h4>田妮妮</h4>
                                    <p>家具顾问</p>
                                </div>
                                <span></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="team-portrait fl">
                                    <img src="/static/img/1.jpg">
                                </div>
                                <div class="team-member fl">
                                    <h4>成都业之峰装修有限公司</h4>
                                    <p>所属公司</p>
                                </div>
                                <span></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="line-index"></div> -->
            </div>

            <!-- 详细资料 -->
            <div class="index-tab">
                <div class="data-main js-cost">
                    <div class="data-title">
                        项目造价
                    </div>
                    <ul class="data-cost clearfix">
                        <!-- <li>
                            <div class="data-cost-icon data-icon-1"></div>
                            <p>
                                <span>房屋设计</span>
                                <span>8.0万元</span>
                            </p>
                            <div class="data-cost-line"></div>
                        </li> -->
                    </ul>
                    <div class="data-totalCost">
                        总造价 <span></span>
                    </div>
                </div>
                <div class="data-main">
                    <div class="data-title">
                        材料品牌
                    </div>
                    <div class="data-module data-material">
                        <ul class="clearfix">
                            <!-- <li>
                                <a href="#">辅材品牌</a>
                            </li> -->
                        </ul>
                    </div>  
                </div>
                <div class="data-main">
                    <div class="data-title">
                        工艺细节
                    </div>
                    <div class="data-module">
                        <ul class="clearfix">
                            <li>
                                <a href="#">客厅</a>
                            </li>
                            <li>
                                <a href="#">餐厅</a>
                            </li>
                            <li>
                                <a href="#">厨房</a>
                            </li>
                            <li>
                                <a href="#">主卧</a>
                            </li>
                            <li>
                                <a href="#">主卫</a>
                            </li>
                            <li>
                                <a href="#">客房</a>
                            </li>
                            <li>
                                <a href="#">儿童房</a>
                            </li>
                            <li>
                                <a href="#">老人房</a>
                            </li>
                            <li>
                                <a href="#">次卫</a>
                            </li>
                            <li>
                                <a href="#">书房</a>
                            </li>
                            <li>
                                <a href="#">休闲室</a>
                            </li>
                            <li>
                                <a href="#">影音室</a>
                            </li>
                        </ul>
                    </div>  
                </div>
                <div class="data-main">
                    <div class="data-title">
                        竣工图纸
                    </div>
                    <div class="data-module">
                        <ul class="clearfix">
                            <li>
                                <a href="#">土建改造</a>
                            </li>
                            <li>
                                <a href="#">水电工程</a>
                            </li>
                            <li>
                                <a href="#">装修工程</a>
                            </li>
                            <li>
                                <a href="#">设备工程</a>
                            </li>
                            <li>
                                <a href="#">配饰工程</a>
                            </li>
                            <li>
                                <a href="#">园林工程</a>
                            </li>
                        </ul>
                    </div>  
                </div>
            </div>
        </div>
        <!-- WIFI提示 -->
        <div class="wifi-mask">
            <div>
                <div>
                    <div class="wifi-frame">
                        <div class="wifi-content">
                            当前处于非wifi网络，继续查看将耗费手机浏览器
                        </div>
                        <div class="wifi-btn clearfix">
                            <div class="wifi-Lbtn fl">是</div>
                            <div class="wifi-Rbtn fr">否</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- WIFI提示 End-->

        <!-- 下载 -->
        <div class="bottom">
            <div class="bottom-logo"></div>
            <div class="bottom-slogen"></div>
            <a class="bottom-btn" href="http://a.app.qq.com/o/simple.jsp?pkgname=com.yingwumeijia.android.ywmj.client">立即下载</a>
            <div class="bottom-close"></div>
        </div>
        <!-- 下载 End-->
    </div>

    <script src="../static/js/libs/zepto.min.js"></script>
    <script src="../static/js/libs/jweixin-1.0.0.js"></script>
    <script src="../static/js/config.js"></script>
    <script src="../static/js/index.js"></script>
    <script src="../static/js/share.js"></script>
</body>
</html>