<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,width=device-width,user-scalabel=no,maximum-scale=1.0,minimum-scale=1.0" />
    <meta name="format-detection" content="telephone=no, email=no"/>
    <title>材料品牌</title>
    
    <script src="../static/js/libs/flexible.js"></script>
    <link rel="stylesheet" href="../static/css/reset.css" type="text/css">
    <link rel="stylesheet" href="../static/css/index.css" type="text/css">
</head>
<body>
    <div class="wrap">
        <div class="content">
            <div class="line-index"></div>
            <!-- <div class="material-module">
                <div class="material-title">
                    管材品牌
                </div>
                <div class="material-list">
                    <ul>
                        <li>
                            <div></div>
                            <p>伟星管业</p>
                        </li>
                        <li>
                            <div></div>
                            <p>伟星管业</p>
                        </li>
                        <li>
                            <div></div>
                            <p>伟星管业</p>
                        </li>
                        <li>
                            <div></div>
                            <p>伟星管业</p>
                        </li>
                        <li>
                            <div></div>
                            <p>伟星管业</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="line-index"></div> -->
        </div>
        <!-- 下载 -->
        <div class="bottom">
            <div class="bottom-logo"></div>
            <div class="bottom-slogen"></div>
            <a class="bottom-btn" href="http://a.app.qq.com/o/simple.jsp?pkgname=com.yingwumeijia.android.ywmj.client">立即下载</a>
            <div class="bottom-close"></div>
        </div>
        <!-- 下载 End-->
    </div>


    <script src="../static/js/libs/zepto.min.js"></script>
    <script src="../static/js/libs/jweixin-1.0.0.js"></script>
    <script src="../static/js/config.js"></script>
    <script src="../static/js/share.js"></script>
    <script src="../static/js/material.js"></script>
</body>
</html>