<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,width=device-width,user-scalabel=no,maximum-scale=1.0,minimum-scale=1.0" />
    <meta name="format-detection" content="telphone=no, email=no"/>
    <title>个人简介</title>
    
    <script src="/static/js/libs/flexible.js"></script>
    <link rel="stylesheet" href="/static/css/reset.css" type="text/css">
    <link rel="stylesheet" href="/static/css/index.css" type="text/css">
</head>
<body>
    <div class="wrap">
        <div class="content">
            <div class="personal-portrait">
                <img src="">
            </div>
            <div class="personal-name"></div>
            <div class="personal-job"></div>
            <div class="personal-company"></div>
            <div class="personal-summary">
                <p></p>
            </div>
            <div class="personal-btn"></div>
            <div class="line-index"></div>
            <a class="personal-showPic-url" href="#">
              <div class="personal-title">
                  个人展示
                  <span></span>
              </div>
              <img class="personal-showPic" src="">
            </a>
            <div class="line-index"></div>
            <ul class="personal-article">
                <!-- <li>
                    <p class="fl personal-article-title">500万装修，除了他还有谁</p>
                    <div class="fr personal-article-thumb"></div>
                </li> -->
            </ul>
            <div class="line-index"></div>
            <div class="personal-service-standard clearfix">
                <span class="fl">服务标准</span>
                <span class="fr personal-service-btn"></span>
                <span class="fr">&nbsp;/&nbsp;㎡</span>
                <span class="fr personal-service-price"></span>
            </div>
            <div class="personal-service-object clearfix">
                <span class="fl">服务对象</span>
                <span class="fr personal-service-btn"></span>
                <span class="fr personal-service-Target"></span>
            </div>
            <div class="line-index"></div>
            <div class="personal-title">
                本案设计讲解
            </div>
            <div class="personal-video">
                <div></div>
                <span></span>
            </div>
            <div class="line-index"></div>
            <div class="personal-title">
                其他作品 (<span class="personal-other"></span>)
            </div>
            <div class="personal-otherCase">
                <ul class="clearfix">
                   <!-- <li>
                       <div>
                           <img src="/static/img/1.jpg" alt="">
                       </div>
                       <p>90后文艺小清新</p>
                   </li>  -->
                </ul>
            </div>
            <div class="personal-slideDown">
                上拉刷新更多其他作品
            </div>
        </div>
        <!-- 本案设计视频弹层 -->
        <div class="personal-mask">
            <div>
                <div>
                    <video id="personal-video" src="" controls>
                        your browser does not support the video tag
                    </video>
                </div>
            </div>
        </div>
    </div>


    <script src="/static/js/libs/zepto.min.js"></script>
    <script src="/static/js/libs/fastclick.js"></script>
    <script src="/static/js/config.js"></script>
    <script src="/static/js/personal.js"></script>
</body>
</html>