<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,width=device-width,user-scalabel=no,maximum-scale=1.0,minimum-scale=1.0" />
    <meta name="format-detection" content="telephone=no, email=no"/>
    <title>平面布置</title>

    <script src="../static/js/libs/flexible.js"></script>
    <link rel="stylesheet" href="../static/css/reset.css" type="text/css">
    <link rel="stylesheet" href="../static/css/index.css" type="text/css">
</head>
<body>
    <div class="wrap">
        <div class="content">
            <!-- <div class="plainLayout-item">
                <div class="plainLayout-title">
                    <h1>1F</h1>
                    <h4>原始平面图</h4>
                </div>
                <div class="plainLayout-pic">
                    <img src="/static/img/1.jpg" alt="">
                </div>
                <div class="plainLayout-title">
                    <h4>设计平面图</h4>
                </div>
                <div class="plainLayout-pic">
                    <img src="/static/img/1.jpg" alt="">
                </div>
                <div class="plainLayout-describe">
                    在这处宛如艺术宫廷的现代住宅中，多才多艺的设计师再次展现了他在新古典领域的炉火纯青，尽情挥洒过人的美学涵养与艺术性。
                </div>
            </div> -->
        </div>
        <!-- 下载 -->
        <div class="bottom">
            <div class="bottom-logo"></div>
            <div class="bottom-slogen"></div>
            <a class="bottom-btn" href="http://a.app.qq.com/o/simple.jsp?pkgname=com.yingwumeijia.android.ywmj.client">立即下载</a>
            <div class="bottom-close"></div>
        </div>
        <!-- 下载 End-->
    </div>

    <script src="../static/js/libs/zepto.min.js"></script>
    <script src="../static/js/libs/jweixin-1.0.0.js"></script>
    <script src="../static/js/config.js"></script>
    <script src="../static/js/share.js"></script>
    <script src="../static/js/plainLayout.js"></script>
</body>
</html>