<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,width=device-width,user-scalabel=no,maximum-scale=1.0,minimum-scale=1.0" />
    <meta name="format-detection" content="telphone=no, email=no"/>
    <title>案例名称</title>

    <script src="/static/js/libs/flexible.js"></script>
    <link rel="stylesheet" href="/static/css/reset.css" type="text/css">
    <link rel="stylesheet" href="/static/css/index.css" type="text/css">
</head>
<body>
    <div class="wrap">
        <div class="content">
            <div class="realScene-item">
                <div class="realScene-title">
                    标题
                </div>
                <div class="realScene-describe">
                    客厅角度无家具效果图
                </div>
                <div class="realScene-pic">
                    <img src="/static/img/1.jpg" alt="">
                </div>
            </div>
            <div class="realScene-item">
                <div class="realScene-title">
                    标题
                </div>
                <div class="realScene-describe">
                    在这处宛如艺术宫廷的现代住宅中，多才多艺的设计师再次展现了他在新古典领域的炉火纯青，尽情挥洒过人的美学涵养与艺术性。
                </div>
                <div class="realScene-pic">
                    <img src="/static/img/1.jpg" alt="">
                </div>
            </div>
            <div class="realScene-title">
                设计理念
            </div>
            <div class="realScene-describe">
                白色文化石通过简单的处理，让其温馨耐着，坐在沙发上发送心情，读一本小书，看一场韩剧，生活本就简单。
            </div>
        </div>
    </div>


    <script src="/static/js/libs/zepto.min.js"></script>
    <script src="/static/js/config.js"></script>
    <script src="/static/js/realScene.js"></script>
</body>
</html>