<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,width=device-width,user-scalabel=no,maximum-scale=1.0,minimum-scale=1.0" />
    <meta name="format-detection" content="telephone=no, email=no"/>
    <title>实景照片</title>

    <script src="../static/js/libs/flexible.js"></script>
    <link rel="stylesheet" href="../static/css/reset.css" type="text/css">
    <link rel="stylesheet" href="../static/css/index.css" type="text/css">
</head>
<body>
    <div class="wrap">
        <div class="content">
            <div class="realScene-list">
                <!-- <div class="realScene-item">
                    <div class="realScene-title">
                        标题
                    </div>
                    <div class="realScene-describe">
                        客厅角度无家具效果图
                    </div>
                    <div class="realScene-pic">
                        <img src="/static/img/1.jpg" alt="">
                    </div>
                </div> -->
            </div>
            <div class="realScene-title">
                设计理念
            </div>
            <div class="realScene-describe realScene-designConcept">
            </div>
        </div>
        <!-- 下载 -->
        <div class="bottom">
            <div class="bottom-logo"></div>
            <div class="bottom-slogen"></div>
            <a class="bottom-btn" href="http://a.app.qq.com/o/simple.jsp?pkgname=com.yingwumeijia.android.ywmj.client">立即下载</a>
            <div class="bottom-close"></div>
        </div>
        <!-- 下载 End-->
    </div>


    <script src="../static/js/libs/zepto.min.js"></script>
    <script src="../static/js/libs/jweixin-1.0.0.js"></script>
    <script src="../static/js/config.js"></script>
    <script src="../static/js/share.js"></script>
    <script src="../static/js/realScene.js"></script>
</body>
</html>