<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,width=device-width,user-scalabel=no,maximum-scale=1.0,minimum-scale=1.0" />
    <meta name="format-detection" content="telphone=no, email=no"/>
    <title>案例名称</title>

    <script src="/static/js/libs/flexible.js"></script>
    <link rel="stylesheet" href="/static/css/reset.css" type="text/css">
    <link rel="stylesheet" href="/static/css/index.css" type="text/css">
</head>
<body>
    <div class="wrap">
        <div class="content">
            <div class="scan-frame">
                <ul class="scan-list clearfix">
                    <li class="scan-item">
                        <div class="scan-picBox">
                            <img src="/static/img/1.jpg" alt="">
                        </div>
                        <div class="scan-content">
                            <div class="scan-describe">
                                <h3>第一层</h3>
                                <p>在这宛如艺术宫廷的现代住宅中，多才多艺的设计师再次展现了他在新古典领域的炉火纯青，尽情挥洒过人的美学涵养与艺术性。在这宛如艺术宫廷的现代住宅中，多才多艺的设计师再次展现了他在新古典领域的炉火纯青，尽情挥洒过人的美学涵养与艺术性。在这宛如艺术宫廷的现代住宅中，多才多艺的设计师再次展现了他在新古典领域的炉火纯青，尽情挥洒过人的美学涵养与艺术性。在这宛如艺术宫廷的现代住宅中，多才多艺的设计师再次展现了他在新古典领域的炉火纯青，尽情挥洒过人的美学涵养与艺术性。</p>
                            </div>
                            <div class="scan-page">
                                1/2
                            </div>
                        </div>
                    </li>
                    <li class="scan-item">
                        <div class="scan-picBox">
                            <img src="/static/img/1.jpg" alt="">
                        </div>
                        <div class="scan-content">
                            <div class="scan-describe">
                                <h3>第一层</h3>
                                <p>在这宛如艺术宫廷的现代住宅中，多才多艺的设计师再次展现了他在新古典领域的炉火纯青，尽情挥洒过人的美学涵养与艺术性。在这宛如艺术宫廷的现代住宅中，多才多艺的设计师再次展现了他在新古典领域的炉火纯青，尽情挥洒过人的美学涵养与艺术性。在这宛如艺术宫廷的现代住宅中，多才多艺的设计师再次展现了他在新古典领域的炉火纯青，尽情挥洒过人的美学涵养与艺术性。在这宛如艺术宫廷的现代住宅中，多才多艺的设计师再次展现了他在新古典领域的炉火纯青，尽情挥洒过人的美学涵养与艺术性。</p>
                            </div>
                            <div class="scan-page">
                                2/2
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script src="/static/js/libs/zepto.min.js"></script>
    <script src="/static/js/config.js"></script>
    <script src="/static/js/scan.js"></script>
</body>
</html>