<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,width=device-width,user-scalabel=no,maximum-scale=1.0,minimum-scale=1.0" />
    <meta name="format-detection" content="telephone=no, email=no"/>
    <title>test</title>
    
    <link rel="stylesheet" href="../static/css/reset.css" type="text/css">
    
</head>
<body>
    <p id="p1" style="margin-bottom:10px;"></p>
    
    <p id="p2"></p>

    <script type="text/javascript">  
        var value1 =  navigator.userAgent;
        var value2 = navigator.appVersion;
        
        document.getElementById("p1").innerHTML = value1;
        document.getElementById("p2").innerHTML = value2;


    </script>  
    
</body>
</html>