<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,width=device-width,user-scalabel=no,maximum-scale=1.0,minimum-scale=1.0" />
    <meta name="format-detection" content="telphone=no, email=no"/>
    <title>案例名称</title>
    
    <script src="/static/js/libs/flexible.js"></script>
    <link rel="stylesheet" href="/static/css/reset.css" type="text/css">
    <link rel="stylesheet" href="/static/css/index.css" type="text/css">
</head>
<body>
    <div class="wrap">
        <div class="content">
            <div class="video">
                <div>
                    <video src="http://o8nljewkg.bkt.clouddn.com/o_1aprnduqr7og1tum1j3pj087cq7.mp4" controls autobuffer preload>
                        your browser does not support the video tag
                    </video>
                </div>
            </div>
        </div>
    </div>


    <script src="/static/js/libs/zepto.min.js"></script>
    <script src="/static/js/config.js"></script>
    <script src="/static/js/video.js"></script>
</body>
</html>